[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bumpversion = "==0.5.3"
responses = "==0.12.0"
nose = "*"

[packages]
preview-generator = "==0.15.4"
requests = "==2.22.0"
pygelf = "==0.3.6"
fastapi = "*"
pydantic = "*"
aiofiles = "*"

[requires]
python_version = "3.8"

[packages.uvicorn]
extras = [ "standard",]
